:80 {
    encode zstd gzip

    # 백엔드 API 라우팅
    handle /api/* {
        reverse_proxy backend:8080
    }
    handle /swagger-ui* {
        reverse_proxy backend:8080
    }
    handle /v3/api-docs* {
        reverse_proxy backend:8080
    }

    @noCache path / /index.html /flutter_bootstrap.js /flutter_service_worker.js /manifest.json
    header @noCache Cache-Control "no-store, no-cache, must-revalidate"

    # Flutter Web 정적 파일 서빙
    handle {
        root * /srv
        try_files {path} /index.html
        file_server
    }
}
